In [ ]:
pip install pymysql

Collecting pymysqlNote: you may need to restart the kernel to use updated packages.

  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     ---------------------------------------- 43.8/43.8 kB 2.2 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

In [1]:
import pymysql

In [2]:
db = pymysql.connect(host='127.0.0.1', user='root', password='S@chin33567@mysql')
db

In [3]:
cur = db.cursor()

In [4]:
cur.execute('show databases')
cur.fetchall()

(('classicmodels',),
 ('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('school',),
 ('sys',))

In [5]:
cur.execute('use school')

0

In [6]:
cur.execute('show tables')
cur.fetchall()

(('classdetails',), ('subjectdetails',), ('t1',), ('t2',), ('teacherdetails',))

In [8]:
cur.execute('select * from classdetails')
cur.fetchall()

((1, 10004), (2, 10005), (3, 10001), (4, 10002), (5, 10005))

In [10]:
cur.execute('desc classdetails')
cur.fetchall()

(('classId', 'int', 'YES', '', None, ''),
 ('classTeacherId', 'int', 'YES', '', None, ''))

In [11]:
cur.execute('insert into classdetails values(6, 10008)')

1

In [18]:
cur.execute('select * from classdetails')
cur.fetchall()

((1, 10004), (2, 10005), (3, 10001), (4, 10002), (5, 10005), (6, 10008))

In [19]:
cur.execute('update classdetails set classTeacherId = 10007 where classId = 5')

1

In [20]:
cur.execute('select * from classdetails')
cur.fetchall()

((1, 10004), (2, 10005), (3, 10001), (4, 10002), (5, 10007), (6, 10008))

In [22]:
def run(query):
    cur.execute(query)
    return cur.fetchall()

In [23]:
run('show tables')

(('classdetails',), ('subjectdetails',), ('t1',), ('t2',), ('teacherdetails',))

In [24]:
run('desc subjectdetails')

(('id', 'varchar(100)', 'YES', '', None, ''),
 ('name', 'varchar(100)', 'YES', '', None, ''),
 ('totalStudents', 'int', 'YES', '', None, ''))

In [25]:
run('select * from subjectdetails')

(('E403', 'English', 34),
 ('H009', 'Hindi', 12),
 ('X067', 'Sanskrit', 24),
 ('M702', 'Maths', 45))

In [26]:
data = run('select * from subjectdetails')
for Id, name, totalStundets in data:
    print(Id, name, totalStundets)

E403 English 34
H009 Hindi 12
X067 Sanskrit 24
M702 Maths 45