In [1]:
import sqlite3

In [2]:
db = sqlite3.connect('School.sqlite')
db

In [3]:
cur = db.cursor()

In [4]:
cur.execute('create table student(rollNo int primary key, name text, age int)')

In [5]:
cur.execute('insert into student values(1, "ankit", 23)')
db.commit()

In [6]:
cur.execute('insert into student values(2, "aman", 21)')
db.commit()

In [7]:
db.close()

In [8]:
db = sqlite3.connect('School.sqlite')
db

In [9]:
cur = db.cursor()

In [10]:
rollNo = 3
name = "ayush"
age = 23

cur.execute('insert into student values(?, ?, ?)', (rollNo, name, age))
db.commit()

In [11]:
values = [(4, "nidhi", 26), (5, "shikha", 20), (6, "shivani", 19), (7, "kajal", 17)]
cur.executemany('insert into student values(?, ?, ?)', values)
db.commit()

In [12]:
cur.execute('update student set age = 30')
db.commit()

In [19]:
cur.execute('update student set age = 20 where name = "shikha"')
db.commit()

In [23]:
newAge = 28

In [24]:
cur.execute('update student set age = ? where name = "nidhi"', newAge)
db.commit()

ValueError: parameters are of unsupported type

In [25]:
cur.execute('update student set age = ? where name = "nidhi"', (newAge, ))
db.commit()

In [26]:
cur.execute('select * from student')
for row in cur:
    print(row)

(1, 'ankit', 30)
(2, 'aman', 30)
(3, 'ayush', 30)
(4, 'nidhi', 28)
(5, 'shikha', 20)
(6, 'shivani', 30)
(7, 'kajal', 30)

In [27]:
cur.execute('select * from student')
cur.fetchone()

(1, 'ankit', 30)

In [28]:
cur.execute('select * from student')
cur.fetchmany()

[(1, 'ankit', 30)]

In [29]:
cur.execute('select * from student')
cur.fetchmany(5)

[(1, 'ankit', 30),
 (2, 'aman', 30),
 (3, 'ayush', 30),
 (4, 'nidhi', 28),
 (5, 'shikha', 20)]

In [30]:
cur.execute('select * from student')
cur.fetchall()

[(1, 'ankit', 30),
 (2, 'aman', 30),
 (3, 'ayush', 30),
 (4, 'nidhi', 28),
 (5, 'shikha', 20),
 (6, 'shivani', 30),
 (7, 'kajal', 30)]